.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  max-width: 110vh;
  min-width: 380px;
  min-height: 380px;
  margin:0 auto;
  position: relative;
}

.board{
  min-width: 380px;
}
