.player-box{
  display: inline-block;
  color: white;
  /*border:1px solid blue;*/
  position:fixed;
  overflow:hidden;
  transition: left 2s, top 1s,transform 1s;
}
.player-pos-player-0{
  background:url('../images/minion1.gif') no-repeat;
  background-size: contain;
}
.player-pos-player-1{
  background:url('../images/minion2.gif') no-repeat;
  background-size: contain;
}
.player-pos-player-2{
  background:url('../images/minion3.gif') no-repeat;
  background-size: contain;
}
.player-pos-player-3{
  background:url('../images/minion4.gif') no-repeat;
  background-size: contain;
}
.player-pos-player-4{
  background:url('../images/minion5.gif') no-repeat;
  background-size: contain;
}
