<div class='nav-header'></div>
<div class="board conainter-fluid">
  <div class="board-row" ng-repeat="boardRow in main.boardPositions">
    <div class="col-xs-1 extra-space board-cell" ng-class="{'board-cell-0':$last}"></div>
    <div class="col-xs-1 board-cell" ng-class="main.getClass('board-cell-',boardCell)" ng-repeat="boardCell in boardRow"></div>
  </div>
</div>
<div class="footer-area">
  <div class="dice-box" ng-click="main.runGame()" ng-class="main.diceClass">
  </div>
</div>
<div class="player-box" ng-class="main.getClass('player-pos-',player.id)" ng-repeat="player in main.players">
</div>
